<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <style>
        body {
        		background: #000 url("/static/img/1933e98e0aad60e5a373f81af734f741.png"); /* Фоновый цвет и фоновый рисунок*/
		        color: #161a1e; /*Цвет текста на странице*/
		        background-size: 100% 100%;
                background-attachment: fixed; /* Фон страницы фиксируется */
		        background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
		        font-size: 180%;
        }
    </style>
    <title>{{ title }}</title>
</head>
<body>
<header>
    <h1>это Base.html</h1>
</header>

<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>