{% extends "base.html" %}
{% block content %}
<form class="transparent" action="" method="post">
    <div class="form-inner">
        <main role="main" class="container">
        <p>
            <h1 class="centered_text">Нужно войти в систему</h1>
        </p>
        <p>
            <a class="btn-success" href="/info">О приложении</a>
        </p>
        <br>
        <a class="btn-success" href="/registration">Зарегистрироваться</a>
        <br>
        <a class="btn-success" href="/enter">Войти</a>
        </main>
    </div>

</form>
{% endblock %}